@import '../../common/css/mixin.styl';

.loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: rem(100px);
    height: rem(100px);
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    border-radius();
    line-height: rem(100px);
    text-align: center;
    color: #fff;
    font-size: rem(18px);
}