@import '../../common/css/mixin.styl';

.webfooter {
    width: 100%;
    height: rem(63px);
    background: #000;
    color: #fff;

    .copy_right {
        padding: rem(12px) 0 0 0;
        text-align: center;
        font-size: rem(13px);
        line-height: rem(20px);
    }

    .copy_right a {
        color: #fff;
    }
}